<% authenticity_token ||= '' %>
<% transaction ||= Samurai::Transaction.new %>
<form accept-charset="UTF-8" action="<%= post_url %>" class="new_transaction" id="new_transaction" method="post">
  <%= authenticity_token %>
  <input id="processor_token" name="processor_token" type="hidden" value="<%= processor_token %>"/>
  <input id="payment_method_token" name="payment_method_token" type="hidden" value="<%= payment_method.payment_method_token %>"/>
  <input id="transaction_custom" name="transaction[custom]" type="hidden" value="" />

  <p>
    <label for="transaction_type">Transaction type</label><br/>
    <select id="transaction_type" name="transaction_type">
      <option value="purchase">Purchase</option>
      <option value="authorize">Authorize Only</option>
    </select>
  </p>

  <div class="field-group">
    <p>
      <label for="amount">Amount</label><br/>
      <input id="amount" name="amount" size="30" type="text" value="<%= transaction.amount %>"/>
    </p>
    <p>
      <label for="transaction_currency_code">Currency code</label><br/>
      <input class="span-1" id="transaction_currency_code" name="transaction[currency_code]" size="30" type="text" value="<%= transaction.currency_code %>"/>
    </p>
  </div>

  <div class="field-group">
    <p>
      <label for="transaction_billing_reference">Billing Reference</label><br/>
      <input id="transaction_billing_reference" name="transaction[billing_reference]" size="30" type="text" value="<%= transaction.billing_reference %>"/>
    </p>
    <p>
      <label for="transaction_customer_reference">Customer Reference</label><br/>
      <input id="transaction_customer_reference" name="transaction[customer_reference]" size="30" type="text" value="<%= transaction.customer_reference %>"/>
    </p>
  </div>
  <p>
    <label for="transaction_descriptor">Description</label><br/>
    <input id="transaction_descriptor" name="transaction[descriptor]" size="30" type="text" value="<%= transaction.descriptor %>"/>
  </p>

  <p>
    <input class="button red" name="commit" type="submit" value="Submit Transaction"/>
  </p>
</form>